Repository na4zagin3/satyrographos-repo, pull requests merged in 2020-11, with the labels that each got.

#218 [Automated] Take snapshots
  packages/satyrographos-snapshot-develop/satyrographos-snapshot-develop.0.0.5+dev2020.09.05+2020.10.31/opam
  packages/satyrographos-snapshot-stable/satyrographos-snapshot-stable.0.0.5+2020.10.31/opam
Labels: automated pr, snapshot

#219 Do not update satysfi-dist packages in the snapshots
  scripts/update-snapshot
Labels: ci

#216 2 packages from yabaitechtokyo/satysfi-class-yabaitech at 0.0.6
  packages/satysfi-class-yabaitech-doc/satysfi-class-yabaitech-doc.0.0.6/opam
  packages/satysfi-class-yabaitech/satysfi-class-yabaitech.0.0.6/opam
  snapshot-develop.opam
  snapshot-stable-0-0-5.opam
Labels: needs reporter action

#223 [Automated] Take snapshots
  packages/satyrographos-snapshot-develop/satyrographos-snapshot-develop.0.0.5+dev2020.09.05+2020.11.15/opam
  packages/satyrographos-snapshot-stable/satyrographos-snapshot-stable.0.0.5+2020.11.15/opam
Labels: automated pr, snapshot
