Repository na4zagin3/satyrographos-repo, pull requests merged in 2024-03, with the labels that each got.

#679 Add snapshot-stable-0-0-11
  .github/workflows/ci.yaml
  snapshot-stable-0-0-11.opam
Labels: snapshot

#682 Update peter-evans/create-pull-request@v6
  .github/workflows/pr-followup.yaml
  .github/workflows/snapshot.yaml
  .github/workflows/update-develop.yaml
Labels: ci

#683 Package satysfi-footnote-scheme-ext.0.0.1
  packages/satysfi-footnote-scheme-ext/satysfi-footnote-scheme-ext.0.0.1/opam
Labels: new package
